/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #150404;
}

/* Header Styles */
header {
    background-color: #300a0a;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main Content Styles */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

/* Education Section */
#education ul {
    list-style-type: none;
    padding: 0;
}

#education ul li {
    margin-bottom: 10px;
}

/* Skills Section */
#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills ul li {
    margin-bottom: 5px;
}

/* Certifications & Licenses Section */
#certifications ul {
    list-style-type: none;
    padding: 0;
}

#certifications ul li {
    margin-bottom: 10px;
}

/* Contact Section */
#contact ul {
    list-style-type: none;
    padding: 0;
}

#contact ul li {
    display: inline;
    margin-right: 10px;
}

#contact ul li a {
    color: #333;
    text-decoration: none;
    border: 1px solid #333;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#contact ul li a:hover {
    background-color: #333;
    color: #fff;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
